@font-face {
    font-family: 'The Whisker';
    src: url('the-whisker.ttf') format('woff');
  }

@font-face {
    font-family: 'Mensch';
    src: url('mensch.ttf') format('woff');
  }

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px #000000;
}

.menu:hover{
    transition: ease-in;
    text-decoration: underline;
}

h1{
    font-family: "The Whisker";
    color:#fff;
    font-size: 8vw;
    margin: 0px;
    letter-spacing: 3px;
    text-shadow: 3px 3px #000000;
    padding-bottom: 3%;
}

h3{
    font-family: "Mensch";
    color:#000000;
    font-size: 5vw;
    padding-top: 2%;
    
}

body{
    font-family: 'Roboto';
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #e7e2dc;

}

.top-header{
    position: absolute;
    z-index: 1000;
    overflow: hidden;
    width:99vw;
}

.content-header{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;

}

.content-header img{
    display: inline-block;
    height: 10vw;
    max-height: 99px;
    padding-top: 10px;
    padding-left: 10px;
    filter: invert(1);
    
}

.main-nav{
    display: flex;
}

.nav-list{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    font-size: 2vw;
    font-family:'Mensch';
    margin: 0px;
    
}

li{
    padding: 2vw;
    color: #fff;
}

video{
    position: relative;
    object-fit: cover;
    width: 100vw;
    height: 55vw;
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
}

.hero-content{
    margin-top: 10%;
    align-items: center;
    position: absolute;
    top: 13vw;
    width: 100vw;
    left:50%;
    margin-left: calc(-50vw);
    text-align: center;

}



.container {
    background-image: url(images/cat-reserve.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 55vw;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0, .8);
}

.hero-content{
    width:100%;
    align-items: center;
    text-align: center

}

select{

    appearance: none;
}

.btn-main{
    font-size: 2vw;
    font-family:'Mensch';
    margin: 0px;
    color:#fff;
    padding: 2%;
    text-shadow: 1px 1px #000000;
    box-shadow: 2px 2px #000000;
    border-color: rgb(255, 255, 255);
    border-width:.2vw;
    border-style: solid;
    border-radius: 1%;

}

.btn-main:hover {
    transition: 1s ease-in-out;
    background: #fff;
    color:#000000;
  }

.container-2 > p{
    margin-bottom: 10%;
}

.light {
    color:#000000;
    text-shadow: none;
    box-shadow: none;
    border-color: #000000;
}

.light:hover {
    transition: 1s ease-in-out;
    background: #000000;
    color:#fff;
  }


.center > h2{
    font-family: "Mensch";
    color: #fff;
    font-size: 5vw;
    letter-spacing: 4px;
    margin: 10% 0;
    text-shadow: 3px 3px #000000;
}

p{
    font-family: "Mensch";
    color: #fff;
}


.container-2 {
    position: relative;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 10%;
}

.r-content {
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.75);
    width: 100%;
    text-align: left;
    height: 100%
}

.center{
    padding: 50px;
}


.cats-row{

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    padding:  0px;
    grid-gap: 15px;

}    

.cat-card{
    background-color: #0000007a;
    box-shadow: rgb(0, 0, 0) 0px 12px 10px -10px;

}
  
.cat-card img{
    width: 100%;
    object-fit:cover;
    max-height: 71vw;
}

.cat-info > h3{
    margin: 0px;
    padding: 5% 0px;
    font-size: 3em;
}

.cat-info > p{
    background: #000000;
    margin: 0px;
    padding: 5% 0px;
    font-size: 1.5em;

}

.booking-form{
    width: 100vw;
    color: #333;

}


.form-row{
    padding: 1% 70px;
    position: relative;
    
}

label{
    display: block;
    padding-bottom: 2%;
    font-family: "Mensch";
    color: #fff;
    text-shadow: 2px 2px #000000;
    font-size: 1.5vw;
    font-weight: bold;
}

.btn-form{
    font-family: "Mensch";
    background-color: #00000041;
    letter-spacing: 2px;
    width: 100%;
    height: 100%;
    padding: 17px;
    border-radius: 40px;
    color: #fff;
}

.submit-btn {
    font-family: "Mensch";
    color: #fff;
    letter-spacing: 2px;
    background-color:rgba(0,0,0,0.75);
    padding: 5%;
    width: 100%;
    border-radius: 40px;
    border: none;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 1.25em;
    cursor: pointer;
}


#contact {
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    width: 13.7vw;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
    z-index: 100000;
    margin-right: 1vw;
    box-shadow: rgb(0, 0, 0) 0px 12px 10px -10px;
    
}

.js #contact {
    position: absolute;
    top: 5em;
    display: none;
    right:0;
    z-index: 100000;

}
 
.contact-form{
    display:  inline-block;
    padding: 0px;
    width:100%;
    z-index: 100000 
}

.contact-form > h1{
    padding-top: 10%;
    font-family: "Mensch";
    font-style: italic;
    color: #000000;
    text-shadow: none;
    font-size: 1.3vw;
    text-align: center;

}

.contact-form > li{
    padding: .2vw 1.5vw;
    list-style: none;

}


.contact-label{
    border: 0;
    font-size: .8vw;
    width: 11vw;
    padding: .7vw 0;
    border-bottom: 2px solid #000000;
    background: none;
    font-family: "Mensch";
}

textarea{
    padding:0;
    padding-top: .7vw;
    font-size: .8vw;
    border: 0;
    width: 11vw;
    height: 7vw;
    display: block;
    background: none;
    font-family:  "Mensch";
    border-bottom: 2px solid #000000
}

#submit {
    padding: 4%;
    border: 2px  #000000;
    margin-bottom: 5%;
}

#submit:hover {
      color: #fff;
}

.btn{
    background: none;
    color: white;
    font-size: 2vw;
    font-family:'Mensch';
    margin: 0px;
    transition: ease all .3s;
    display: block;
    border: none;
    cursor: pointer;
}
 
.send{
    background: #000000;
    font-size: .9vw;
}

.btn:active, .btn:hover{
    text-decoration: underline;
    color: #fff;
}
 
.close {
    position: absolute;
    right: 1vw;
    top: -1vw;
    cursor: pointer;
    font-size:3.5vw;
    color: #000000
}


.foot{
    display: flex;
    justify-content: space-between;
    padding: .5vw 1vw;
    font-size: .7vw;
}

.foot > p{
    color:#0000007a;
    font-weight: bold;
    font-style: italic;
}

@media screen and (min-width: 1200px){
    .cats-row{
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
        padding:  0 15px;
       
    }    

      
    .cat-card img{
        max-height: 54vh;

    }
}


@media screen and (min-width: 1200px){
    .cats-row{
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
        padding:  0 15px;
       
    }    

      
    .cat-card img{
        max-height: 35vw;

    }
}